%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{content: "", name: "description"}/
    %meta{content: "", name: "author"}/
    %title Justified Nav Template for Bootstrap
    / Bootstrap core CSS
    %link{href: "bootstrap.css", rel: "stylesheet"}/
    / Custom styles for this template
    %link{href: "home.css", rel: "stylesheet"}/
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
  %body
    .container
      .masthead        
        =image_tag("logo.jpg")
        %ul.nav.nav-justified
          %li.active
            %a{href: "#"} I'm a Student
          %li
            %a{href: "#"} I'm a Tutor
          %li
            %a{href: "#"} About Us
          %li
            %a{href: "#"} Contact
      / Jumbotron
      .jumbotron
        %h1 Welcome #{@current_user.username}!
        %p1 Email: #{@current_user.email}
      / Site footer
      .footer
        %p © Forward Tutoring 2013  Assisted by UC Berkeley CS 169 Group #29
    / /container
    /
      Bootstrap core JavaScript
      \==================================================
    / Placed at the end of the document so the pages load faster
