%html{lang: "en"}
  %body
    .container
      / Jumbotron
      .jumbotron
        %h1 Get Started!
        %p.lead Forward Tutoring connects you to free online tutoring, cool volunteer opportunities, and exclusive scholarships - all at your convenience.
        %p
          %a#signUpBtn.btn.btn-lg.btn-success{href: new_user_path, name:'signUpBtn'} Sign Up!

      / Example row of columns
      .row
        .col-lg-4
          %h2 Students
          %p Students seeking free math and science online tutoring and meaningful, relevant opportunities to give back.
          %p
            %a.btn.btn-primary{href: "#"} View details »
        .col-lg-4
          %h2 Tutors
          %p Experienced, qualified tutors who complete community service and earn scholarships and rewards by teaching math and science online.
          %p
            %a.btn.btn-primary{href: "#"} View details »
        .col-lg-4
          %h2 Organizations
          %p Socially-minded organizations interested in advancing their missions with the help of young, passionate volunteers.
          %p
            %a.btn.btn-primary{href: "#"} View details »
      / Site footer
      .footer
        %p © Forward Tutoring 2013  Assisted by UC Berkeley CS 169 Group #29
    / /container
    /
      Bootstrap core JavaScript
      \==================================================
    / Placed at the end of the document so the pages load faster
